@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  margin: 0;
  padding: 0;
}

header {
  padding: 10px;
  background: #10111d;
  color: white;
  font-size: 20px;
  display: flex;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1350px;
}

header nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
header nav div i {
  margin-left: 10px;
}